{% extends 'multiplayer_chess/base.html' %}
{% load static %}
{% block title %}
    <title>Games Archive</title>
{% endblock %}
{% block navbar %}
    {%include 'multiplayer_chess/navbar.html'%}
{% endblock %}
{% block content %}

<div class="container text-white primary_bg rounded-3 my-5 d-flex justify-content-between align-items-center">
    <div class="p-2 w-100" style="font-size: 2rem;" >Games Archive</div>
</div>
<div class="container text-white">
    {% for opponent, result in all_games %}
        <div class="d-flex justify-content-between p-2">
            <div class="display-7">{{opponent}}</div>
            {% if result %}
                <div class="badge bg-success">Won</div>
            {% else %}
                <div class="badge bg-danger">Lost</div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock %}