
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'multiplayer_chess:home' %}">&#9823; Chess</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link mx-4" href="{% url 'multiplayer_chess:player_info' %}">{{ request.user }}</a>
        <a class="nav-item nav-link mx-4" href="{% url 'multiplayer_chess:logout' %}">logout</a>
      </div>
    </div>
  </nav>

